.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 20px;
	padding: 20px;

	.especial {
		background: #1ea94f;
		color: #fff;

		/* grid-column-start: 1; */
		/* grid-column-end: 3; */
		/* grid-column: 2 / 4; */

		/* grid-row-start: 1; */
		/* grid-row-end: -1; */
		/* grid-row: 1 / 3; */
	}

	.uno {
		order: 6;
	}

	.dos {
		order: 4;
	}

	.tres {
		order: 2;
	}

	.cuatro {
		order: 1;
	}

	.cinco {
		order: 3;
	}

	.seis {
		order: 5;
	}
}
