@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Roboto', serif;
	--font-serif: 'Merriweather', serif;
	--font-titulo: 'Oswald', serif;

	--color-primario: #62a87c;
	--color-secundario: #7ee081;

	--color-detalles-100: #8447ff;
	--color-detalles-200: #4b00e0;

	--background-image-comida: url('./../src/imagenes/comida.svg');
	--background-image-hero: url('https://images.unsplash.com/photo-1511818966892-d7d671e672a2?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	--background-image-hero2: url('https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

	--animate-boton: latido 1s ease-in-out infinite;

	@keyframes latido {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
}
