body {
	/* background-color: #3d2b40; */

	/* Ruta Absoluta */
	/* background-image: url('https://images.unsplash.com/photo-1740507619572-ac180ca2630f?q=80&w=2687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */

	/* Ruta Relativa */
	/* background-image: url('./imagenes/bosque.png'); */

	/* background-repeat: no-repeat; */
}

/* Ejemplo #1 */
/* body {
	background-color: #eeecf1;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} */

/* Ejemplo #2 */
/* body {
	background: #90a666;
	background-image: url('./imagenes/comida.svg');
} */

body {
	background-color: #f5f5f5;
	opacity: 0.8;
	background: radial-gradient(circle, transparent 20%, #f5f5f5 20%, #f5f5f5 80%, transparent 80%, transparent),
		radial-gradient(circle, transparent 20%, #f5f5f5 20%, #f5f5f5 80%, transparent 80%, transparent) 17.5px 17.5px,
		linear-gradient(#ff0012 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px,
		linear-gradient(90deg, #ff0012 1.4000000000000001px, #f5f5f5 1.4000000000000001px) -0.7000000000000001px 0;
	background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}
