/* Selector universal */
/* * {
	color: blue;
} */

/* Selectores simples */
/* h1 {
	color: blue;
} */

/* Selector de grupos */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: red;
}

/* Selector descendente */
main p {
	font-size: 20px;
}

main p a {
	font-size: 26px;
	color: blue;
}

/* Selector de clases */
.enlace {
	color: red;
}

header .enlace {
	font-size: 22px;
}

/* Selector de id */
/* #especial {
	color: darkblue;
} */

.especial {
	color: darkblue;
}
