body {
	background: #f2f2f2;
}

.card {
	background: #fff;
	width: 400px;
	margin: 60px;
	font-size: 20px;
	padding: 20px;
	border-radius: 5px;

	&.card-2 {
		/* box-shadow: horizontal vertical blur spread inset* */
		box-shadow: 15px 10px 0 0 #000;
	}

	&.card-3 {
		box-shadow: 0px 0px 0px 10px #cfcfcf;
	}

	&.card-4 {
		box-shadow: 0px 0px 50px 5px #cfcfcf;
	}

	&.card-5 {
		transition: 0.3s ease all;
		&:hover {
			/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
			box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px,
				rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px,
				rgba(240, 46, 170, 0.05) -25px 25px;
		}
	}
}
