*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Gabarito', serif;
	display: flex;
	justify-content: center;
}

.grid {
	width: 90%;
	max-width: 1000px;
	margin: 20px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 1fr auto auto;
	gap: 20px;
	min-height: 90vh;

	.titulo {
		font-size: 30px;
	}
}

.header {
	grid-column: 1/-1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	gap: clamp(10px, 3vw, 20px);

	.logo {
		font-size: clamp(30px, 5vw, 50px);
	}

	nav {
		display: flex;
		gap: clamp(10px, 3vw, 20px);

		a {
			text-decoration: none;
			color: #531cb3;
			font-size: clamp(16px, 3vw, 20px);
		}
	}

	@media screen and (max-width: 500px) {
		& {
			flex-direction: column;
		}
	}
}

.main {
	grid-column: 1 / span 2;
	background: #fff;
	padding: 20px;
	color: #000;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: clamp(10px, 3vw, 20px);
	align-items: flex-start;

	p {
		line-height: 30px;
	}

	.boton {
		display: inline-block;
		padding: 15px;
		background: #531cb3;
		color: #fff;
		border-radius: 3px;
		text-decoration: none;
		text-align: center;
	}

	@media screen and (max-width: 750px) {
		& {
			grid-column: 1 / -1;
			align-items: stretch;
		}
	}
}

.aside {
	background: #000;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 750px) {
		& {
			grid-column: 1 / -1;
			min-height: 200px;
		}
	}
}

.widgets {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;

	.widget {
		background: #ccc;
		min-height: 100px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.footer {
	padding: 40px 0;
	text-align: center;
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #929292;
}
