* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'open sans', sans-serif;
	display: flex;
	justify-content: center;
}

/* forma 1 */
/* .contenedor {
	width: 90%;
	max-width: 500px;
	margin: 40px 0;

	.card {
		background: #fff;
		box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		overflow: hidden;

		img {
			width: 100%;
			max-height: 250px;
			object-fit: cover;
		}

		.textos {
			padding: 20px;

			h3 {
				font-size: 30px;
				margin-bottom: 10px;
			}

			p {
				font-size: 20px;
				margin-bottom: 20px;
			}

			a {
				background: #000;
				color: #fff;
				text-decoration: none;
				display: inline-block;
				padding: 10px 30px;
				font-size: 20px;
				border-radius: 5px;
			}
		}

		@media screen and (max-width: 500px) {
			& {
				.textos {
					padding: 10px;

					h3 {
						font-size: 20px;
						margin-bottom: 5px;
					}

					p {
						font-size: 14px;
						margin-bottom: 10px;
					}

					a {
						padding: 5px 15px;
						font-size: 12px;
					}
				}
			}
		}
	}
} */

/* forma 2 */
.contenedor {
	width: 90%;
	max-width: 500px;
	margin: 40px 0;

	.card {
		background: #fff;
		box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		overflow: hidden;
		font-size: 16px;

		img {
			width: 100%;
			max-height: 15.62em;
			object-fit: cover;
		}

		.textos {
			padding: 1.25em;

			h3 {
				font-size: 1.875em;
				/* 30px */
				margin-bottom: 0.625em;
				/* 10px */
			}

			p {
				font-size: 1.25em;
				/* 20px */
				margin-bottom: 1.25em;
				/* 20px */
			}

			a {
				background: #000;
				color: #fff;
				text-decoration: none;
				display: inline-block;
				padding: 0.625em 1.875em;
				/* 10px 30px */
				font-size: 1.25em;
				/* 20px */
				border-radius: 0.3125em;
				/* 5px */
			}
		}

		@media screen and (max-width: 500px) {
			& {
				font-size: 10px;
			}
		}
	}
}
