* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

.caja {
	background: #1062ff;
	color: #fff;
	padding: 40px;
	font-size: 24px;
	border-radius: 5px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto;
	border: 4px solid #000;
	padding: 40px;
	display: flex;
	gap: 40px;
}

.basis {
	flex-direction: row;

	.caja {
		flex-basis: 150px;
	}

	.especial {
		flex-basis: 300px;
	}
}

.grow {
	.caja {
		flex-grow: 1;
		/* flex-basis: 200px; */
	}

	.especial {
		flex-grow: 3;
	}
}

.basis {
	.caja {
		flex-basis: 400px;
		flex-grow: 1;
		flex-shrink: 1;
		/* flex: 1 1 400px; */
	}

	.especial {
		flex-shrink: 5;
	}
}

.order {
	.uno {
		order: 4;
	}

	.dos {
		order: 3;
	}

	.tres {
		order: 2;
	}

	.cuatro {
		order: 1;
	}

	.cinco {
		order: 3;
	}
}

.align-self {
	height: 700px;
	align-items: start;

	.uno {
		align-self: stretch;
	}

	.dos {
		align-self: start;
	}

	.tres {
		align-self: center;
	}

	.cuatro {
		align-self: end;
	}
}
