* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

.caja {
	background: #1062ff;
	color: #fff;
	padding: 40px;
	font-size: 24px;
	border-radius: 5px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto;
	border: 4px solid #000;
	padding: 40px;
	display: flex;
	gap: 40px;
	flex-direction: row;
	flex-wrap: wrap;
	/* flex-flow: row wrap; */
	/* justify-content: space-between; */
	height: 90vh;
	/* align-items: stretch; */
	align-content: space-around;
}
